<% provide(:title, "Home") %>



<div class="center jumbotron">

  <h1>Welcome! to rwitter</h1>

  <h2>
    This is the homepage
  </h2>

  <%= link_to("Sign up nao!", "/signup", {class: "btn btn-lg btn-primary"}) %>

</div>

<%= link_to(image_tag("lol.png", alt: "imgur" ), 'https://kevmo.github.io') %>
